html{
    height: 100%;
}

body{
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#bodyDiv{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#canvasSize {
    float: right;
    margin-right: 1em;
}

#layTop {
    margin: 0;
    padding: 1em 0;
    border-bottom: 1px solid lightgray;
    background: rgba(255,255,255,0.8);

    flex-grow: 0;
    flex-shrink: 0;
}

#layMap {
    flex-grow: 1;
    display: flex;
}

button{
    margin-left: 1em;
}

.point{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 5px;
    z-index: 1;
    color: black;
    user-select: none;
    margin-top: -5px;
    margin-left: -5px;
    overflow: hidden;
    position: relative;
}

.rectangle
{
    background: green;
    color: white;
}

.overlapped
{
    background: red;
    color: red;
}

.overlap
{
    background: red;
}


.point:hover
{
    cursor: pointer;
}


line {
    stroke: black;
    stroke-width:1;
}

#svgCanvas
{
    flex-grow: 1;
    width: 100%;
}

#mapCanvas{
    position:absolute;
}

#lblMethod
{
    margin-left: 2em;
    margin-right: 1em;
}

#overlap
{
    margin-left: 2em;
}

#overlapArea
{
    font-weight: bold;
}